@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Marianne';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}